<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
   <head>
    {{- partial "leelasrecipes_head_main.html" . -}}
    {{- partial "leelasrecipes_custom_head_meta_opengraph_partial.html" . -}}
    {{- partial "leelasrecipes_custom_head_meta_twitter_cards.html" . -}}
    {{- partial "leelasrecipes-head-custom.html" . -}}
    {{- partial "leelasrecipes-head-meta.html" . -}}
   </head> 
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>