<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
    {{- partial "leelasrecipes-google-analytics4-global-gtag-tracking-code-head" . -}}
    {{- partial "leelasrecipes_head_main.html" . -}}
 
    {{- partial "leelasrecipes-INSERT-ARTICLE-JSON-BLOCK" . -}}
    {{- partial "leelasrecipes-INSERT-BREADCRUMBS-JSON-BLOCK" . -}}
    {{- partial "leelasrecipes-INSERT-LOGO-JSON-BLOCK" . -}}
    {{- partial "leelasrecipes-INSERT-VIDEO-JSON-BLOCK" . -}}
    {{- partial "leelasrecipes-INSERT-RECIPE-JSON-BLOCK" . -}}

    {{ partial "leelasrecipes-microsoft-clarity-tracking-code" . }}

    </head> 
    <body>
        {{- partial "leelasrecipes_pinterest_pinit_button.html" . -}}
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>