<hr style="height:2px ; background-color: #c0c0c0 ; ">

  <div>
    <h5>Share this post</h5>

    <nav class="nav sharing-icons">

      <a class="nav-item" href="https://wa.me/?text=Check out this delicious recipe from Leela's Recipes Food Website: {{ .Permalink }}" title="Share on WhatsApp"><span class="fab fa-whatsapp-square fa-2x" aria-hidden="true"></span></a>

      <a class="nav-item" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><span class="fab fa-facebook fa-2x" aria-hidden="true"></span></a>

      <a class="nav-item" href="https://twitter.com/home?status={{ .Permalink }}" title="Tweet this"><span class="fab fa-twitter fa-2x"></span></a>

      <a class="nav-item" href="http://pinterest.com/pin/create/link/?url={{ .Permalink }}" title="Pin this"><span class="fab fa-pinterest-square fa-2x"></span></a>

      <a class="nav-item" href="https://www.youtube.com/channel/UCgMWHF6dNmRVZp6J4FZj51g" title="Youtube"><span class="fab fa-youtube fa-2x"></span></a>

      <a class="nav-item" href="https://www.instagram.com/leelasrecipe" title="Instagram"><span class="fab fa-instagram fa-2x"></span></a>

    </nav>
  </div>
  