{{ "<!-- BEGIN: GOTO RECIPE AND VIDEO BUTTONS -->" | safeHTML }}
<div class="row" style="margin-bottom: 10px;">
  <div class="col">
    <div class="d-flex justify-content-center">
      <a href="#recipe-here"><button type="button" class="btn btn-primary">Jump to recipe</button></a>
      &nbsp;&nbsp;&nbsp;
      <a href="#video-here"><button type="button" class="btn btn-primary">Watch recipe video</button></a>
    </div>
  </div>
</div>
{{ "<!-- END: GOTO RECIPE AND VIDEO BUTTONS -->" | safeHTML }}
